[tool.poetry]
name = "fastapi_admin"
version = "0.1.0"
description = ""
authors = ["Seva D <vsdudakov@gmail.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/vsdudakov/fastapi-admin"
repository = "https://github.com/vsdudakov/fastapi-admin"
keywords = ["fastapi", "admin"]
classifiers = [
    "Environment :: Console",
    "Framework :: Fastapi",
    "Operating System :: OS Independent",
    "Topic :: Software Development :: Documentation",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: Software Development :: Quality Assurance",
]
include = [
    "LICENSE",
]
packages = [
    { include = "fastapi_admin" },
]

[tool.poetry.dependencies]
python = "^3.10"
fastapi = "^0.92.0"
jinja2 = "^3.1.2"
environs = "^9.5.0"
jwt = "^1.3.1"


[tool.poetry.group.dev.dependencies]
pytest = "^7.2.1"
isort = "^5.12.0"
black = "^23.1.0"
flake8 = "^6.0.0"
flake8-black = "^0.3.6"
pytest-cov = "^4.0.0"
pytest-mock = "^3.10.0"
uvicorn = "^0.20.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 120
exclude = ".git|migrations|.pytest_cache|.venv|.env|venv|env|static"

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true
line_length = 120
skip_glob = [".git", "*/migrations/*", "*/.pytest_cache/*", "*/.venv/*", "*/.env/*", "*/venv/*", "*/env/*", "*/static/*"]
sections = ["FUTURE", "STDLIB", "THIRDPARTY", "FIRSTPARTY", "LOCALFOLDER"]
